.chatWrapper{
    display: flex;
    flex-direction: column;
    gap: 5px;
    padding: 30px;
}
.chatRight{
    align-self: flex-end;
    width: auto;
    display: flex;
    background-color: var(--chatrightbackground);
    border-radius: 5px;
    max-width: 75%;
   
}
.chatLeft{
    align-self: flex-start;
    width: auto;
    display: flex;
    background-color: var(--chatleftbackground);
    border-radius: 5px;
    max-width: 75%;
    
}
.individualchatcont{
    
    display: flex;
    padding: 10px;
    position: relative;
    border-radius: 5px;
}
.individualchattext{
    font-size:smaller;
    padding-right: 30px;
}
.individualchatdate{
    font-size: x-small;
    position: absolute;
    bottom: 0;
    right: 0;
    padding: 5px;
    color: var(--chatdatecolor);
    display: flex;
}
.dateDivider{
    display: flex;
    align-self: center;
    background-color: var(--chatleftbackground);
    padding: 8px;
    border-radius: 5px;
    font-size: small;
    color: var(--chatdatecolor);
}
.individualchatstatus{
    position: absolute;
    bottom: 8px;
    right: 6px;
}