body{
  margin: 0px;
  padding: 0px;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  width: 100vw;
  background-color: #dedad5;
  color: var(--basicfontcolor);
}
:root {
  --background: white;
  --foreground: black;
  --basicfontcolor: black;
  --basicfontcolorlight: rgb(61, 61, 61);
  --headingfontcolor: #3ac4ff;
  --chatsectionbackground: rgb(225, 225, 225);
  --chatbackgroundcolor: #FFF1D5;
  --chatsectionbackgroundhover: rgb(193, 193, 193);
  --linebreakbackcolor: rgb(200, 200, 200);
  --linebreakbackcolorlight: rgb(219, 219, 219);
  --scrollbartrackcolor: rgb(240, 240, 240);
  --chatselectedbackcolor: rgb(216, 216, 216);
  --chatitembackcolorhover: rgb(236, 236, 236);
  --chatrightbackground: #BFECFF;
  --chatleftbackground: azure;
  --chatdatecolor: rgb(95, 95, 95);

}

html[data-theme='dark'] {
  --background: black;
  --foreground: white;
}
